body {
    background-color: #1E1E1E;
    margin: 0px;
}

.container {
    width: 1140px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 125px;

}

h1 {
    color: #fff;
    font-weight: 600;
    font-size: 54px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    width: 1171px;
    display: flex;
    flex-direction: row;
}

.image div {
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 14px;

}

.img-1 {
    width: 752px;
    height: 342px;
    background-image: url(../image/logo-1.png);
}

.txt {
    margin-bottom: 10px;
}

.img-2 {
    width: 358px;
    height: 342px;
    background-image: url(../image/logo-2.png);
}

.img-3 {
    width: 358px;
    height: 342px;
    background-image: url(../image/logo-3.png);

}

.img-4 {
    width: 752px;
    height: 342px;
    background-image: url(../image/logo-4.png);

}

.img-5 {
    width: 752px;
    height: 342px;
    background-image: url(../image/logo-5.png);
}

.img-6 {
    width: 358px;
    height: 342px;
    background-image: url(../image/logo-7.png);
}

.sum {
    width: 1137px;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 125px;

}

.let {
    width: 1137px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.let h1 {
    width: 374px;
    height: 154px;

}

.main-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 91px;
    margin-bottom: 50px;
}

.arrow:hover {
    background-color: #E3B748;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background: #E6E6E6;
    border-radius: 57px;
    border: none;
}

.main-card {
    display: flex;
    flex-direction: row;
    margin-top: 83px;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.card {
    width: 359px;
    height: 368px;
    background: #1D1D1D;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-right: 20px;
    padding-left: 26px;
}

.card img {
    margin-top: 36px;
}


.bar {
    width: 292px;
    height: 92px;
    font-weight: 500;
    font-size: 14px;
    color: #757474;
}

.bord {
    margin-top: 150px;
    width: 1137px;
    display: flex;
    justify-content: center;
    margin-left: 125px;

}

.our {
    padding-right: 20px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1156px;
    height: 435px;
    margin-left: 90px;

}

.case-1 {
    width: 344px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.case-2 {
    width: 344px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-left: 90px;
}

.name:hover {
    background-color: #E3B748;
}

.name {
    display: flex;
    flex-direction: row;
    width: 344px;
    height: 109px;
    margin-top: 40px;
    border-radius: 14px;
}

.bard {
    display: flex;
    justify-content: left;
    width: 120px;
    font-weight: 600;
    font-size: 24px;
}

.teg {
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
    color: #757474;
    margin-right: 15px;
    margin-bottom: 7px;
}

.pfoto {
    display: flex;
    align-items: center;
    margin-left: 26px;
}

.rap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
}

.gap {
    width: 1140px;
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 125px;
}

.menu {
    margin-top: 141px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab {
    width: 557px;

}

.bal {
    width: 399px;
    height: 24px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.tol {
    width: 557px;
    height: 145px;
    font-weight: 500;
    font-size: 18px;
    color: #757474;
}

.tab p {
    width: 350px;
    font-weight: 500;
    font-size: 18px;
    color: #757474;
}

.post {
    width: 539px;
    height: 114px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    border-top: #646464 solid 1px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1245px;
    height: 356px;
    background: rgba(71, 71, 71, 0.5);
    margin-top: 217px;
    margin-left: 50px;
}

.form {
    display: flex;
    align-items: center;
    width: 696px;
    height: 60px;
}

.email {
    width: 276px;
    height: 53px;
    background: #E4E4E4;
    border-radius: 8px 0px 0px 8px;
    border: none;
    color: #818181;
    font-weight: 400;
    font-size: 14px;
    margin-right: 9px;
    font-style: italic;
}

.email-2 {
    width: 276px;
    height: 53px;
    background: #E4E4E4;
    border: none;
    color: #818181;
    font-weight: 400;
    font-size: 14px;
    margin-right: 9px;
    font-style: italic;
}

.type {
    width: 116px;
    height: 53px;
    background: #E3B748;
    border-radius: 0px 8px 8px 0px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1340px;
    height: 367px;
    background: #171717;
    margin-top: 242px;
}

.down {
    width: 1134px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-bottom: 60px;
    margin-left: 90px;
}

.down-menu {
    width: 548px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 136px;
}

.cor {
    width: 187px;
    display: flex;
    flex-direction: row;
    margin-left: 110px;
}

.cor div {
    margin-left: 20px;
}

.top {
    width: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin-left: 85px;
    margin-top: 60px;
}